/* Fonts */

@font-face {
    font-family: 'Opensans';
    src: url('../resources/fonts/OpenSans-Regular-webfont.eot');
    src: url('../resources/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../resources/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../resources/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Opensans';
    src: url('../resources/fonts/opensans/OpenSans-Bold.ttf') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../resources/fonts/merriweather/Merriweather-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../resources/fonts/merriweather/Merriweather-Regular.otf');
    src: url("../resources/fonts/merriweather/Merriweather-Italic.otf");
    font-weight: normal;
    font-style: italic;
}


/* Generic layout and test formatting */

header, section {
    padding: 20px;
}

.resume_wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    font-family: Merriweather;
    padding: 10px 20px;
}

a {
    text-decoration: none;
    color: #222;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    color: #222;
}

h3 {
    font-family: 'Opensans';
}

p, li {
    font-size: 12px;
}

svg path {
    fill: #505050;
}

/* Header */

header {
    min-height: 4.5cm;
    padding-bottom: 30px;
}


li {
    font-size: 16px;
}

.profile-and-contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    max-height: 2.8cm;
    overflow: visible;
}

.profile-pic-and-infos {
    display: flex;
}

/* Profile picture */

.profile_pic {
    position: relative;
    top: -2px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 50%;
    width: auto;
    height:auto;
}

li {
    list-style-type: none;
}

header svg {
    margin-right: 2px;
    width: 22px;
    flex-shrink: 0;
}

/* Profile infos */


h1.name {
    margin-bottom: 9px;
    position: relative;
    left: -2px;
    font-family: Opensans;
    color: #27344D;
    font-size: 2.5em;
}
.profile_infos p {
    font-size: 16px;
}

/* Contact info */

.contact-info {
    width: 5.5cm;
    margin-top: 15px;
}

.contact-info ul {
    margin: 0;
    padding: 0;
}

.contact-info li {
    font-size: 12px;
    display: flex;
    margin-bottom: 1px;
}

.contact_text {
    display: inline-block;
    padding: 2px 0;
}

.contact-info svg {
    position: relative;
    top: -2px;
}

/* Title and about me */

.about-me {
    max-width: 60%;
    margin-top: 10px;
}

.resume_title {
    font-size: 20px;
}

.about-me p {
    font-family: Opensans;
    font-size: 12px;
}

/* Separation line */

.sep_line {
    height: 3px;
}


/* Resume body */

.resume_body {
    display: flex;
}


/* Curriculum section */

section.curriculum {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.curriculum > div {
    margin-bottom: 10px;
}

h3 {
    color: #5884DC;
    font-size: 14px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
}

.exp {
    margin-bottom: 15px;
}

.exp_label {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    font-style: italic;
}

.exp p {
    line-height: 150%;
}

.exp_dates_and_place, .acc_name, .lang_info {
    font-family: Opensans;
    color: #505050;
    text-transform: uppercase;
}

.exp_dates {
    text-transform: none;
    font-family: Merrinweather;
    font-style: italic;
    margin-right: 10px;
}

.school, .company, .acc_name, .lang_level, .school a, .company a {
    color: #27344D;
    font-weight: bold;
}

.exp_description {
    font-family: Opensans;
}

.exp svg {
    position: relative;
    top: 7px;
    width: 16px;
    margin-top: -7px;
}

/* Accomplishements (projects) */

.accomplishements .exp_dates_and_place {
    display: flex;
    flex-direction: column;
    margin-bottom: 6px;
    margin-top: -2px;
}

.accomplishement a {
    color: #505050;
    font-family: Opensans;
}

.accomplishement svg {
    margin: -5px inherit;
    position: relative;
}

.acc_link {
    display: inline-block;
    max-height: 18px;
    overflow: visible;
}

/* References */

.ref_name {
    font-size: 14px;
    color: #222;
    font-weight: bold;
    font-style: italic;
}

.ref_email {
    font-style: italic;
    font-family: Opensans;
    color: #505050;

}

/* Languages */

.lang {
    margin-bottom: 7px;
}

.lang_name {
    font-style: italic;
    font-size: 16px;
}

.lang_level_refine, .certification_label {
    font-weight: bold;
    color: #505050;
}




/* Info section */

section.info {
    display: flex;
    flex-direction: column;
    flex: 0 0 5.5cm;
    padding-top: 0;
}

.info > div {
    margin-bottom: 30px;
}

.info ul {
    padding: 0;
    margin: 0;
}


.skill-list li {
    display: inline-block;
    border: 1px solid #27344D;
    padding: 3px 7px;
    margin-top: 5px;
    font-size: 14px;
}

.skill-list .proficient {
    background: #27344D;
    color: white;
}


.traits li {
    margin-top: 5px;
    text-transform: capitalize;
    font-style: italic;
}


.hobbies li {
    margin-top: 5px;
}

.hobby_name {
    font-style: italic;
}

.hobby_dates {
    font-size: 12px;
}

.hobby_refine {
    font-size: 12px;
    color: #505050;
    font-family: Opensans;
}