/* Fonts */

@font-face {
    font-family: 'open_sansregular';
    src: url('../resources/fonts/OpenSans-Regular-webfont.eot');
    src: url('../resources/fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../resources/fonts/OpenSans-Regular-webfont.woff2') format('woff2'),
         url('../resources/fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../resources/fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../resources/fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Generic layout and test formatting */

header, section {
    padding: 30px;
}

.resume_wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-family: open_sansregular;
    background: #eee;
}

a {
    text-decoration: none;
    color: #222;
}

p, h1, h2, h3, h4, h5 {
    margin: 0;
    color: #222;
}

p, li {
    font-size: 12px;
}

/* Header */

header {
    background: #314048;
}

header p, header h1, header h2, header h3, header a, header li {
    color: white;
}

header p,li,a {
    font-size: 14px;
}

.profile-and-contact {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.profile-pic-and-infos {
    display: flex;
}

/* Profile picture */

.profile_pic {
    position: relative;
    top: -10px;
    max-width: 100px;
    max-height: 100px;
    margin-right: 20px;
    border-radius: 50%;
}

li {
    list-style-type: none;
}

/* Profile infos */

.profile_infos {
}

h1.name {
    margin-bottom: 3px;
    position: relative;
    left: -2px;
}

/* Contact info */

.contact-info {
    text-align: right;
}

.contact-info ul {
    margin: 0;
}


/* Title and about me */

.resume_title {
    font-size: 20px;
}


/* Resume body */

.resume_body {
    display: flex
    flex-direction: column;
    flex: 1 1 auto;
}


/* Curriculum section */

section.curriculum {
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.curriculum > div {
    margin-top: 30px;
}

.curriculum h3 {
    color: #34495E;
    font-size: 22px;
    margin-bottom: 5px;
}

.exp {
    margin-left: 30px;
}

.exp_dates, .lang_name {
    max-width: 120px;
    font-size: 12px;
    text-align: right;
    vertical-align: top;
    padding-right: 20px;
    padding-top: 2px;
}


/* Languages */

.lang_name {
    font-size: initial;
    max-width: 200px;
}

.language_certification {
    padding-left: 15px;
}


/* Info section */

section.info {
    display: flex;
    justify-content: space-between;
    flex: 0 1 auto;
    background: #314048;
}

.info p, .info h2, .info h3, .info a, .info li {
    color: white;
}

.info div {
    display: inline-block;
    width: 45%;
    flex: 1 0;
}

.info ul {
    padding: 0;
}

.skills {
    margin-right: 30px;
}

.skill-list li {
    display: inline-block;
    border: 1px solid white;
    padding: 3px 7px;
    margin-top: 5px;
}

div.traits {
    margin: 0 0;
}

.traits li {
    margin-top: 5px;
}

.hobbies {
    xtext-align: right;
    max-width: 20%
}

.hobbies li {
    margin-top: 5px;
}

.hobby_dates {
    font-size: 10px;
}
