{% extends "./base_resume.html" %}

{% block css %}
<link rel="stylesheet" href="../static/light.css" />
{% endblock %}

{% block title %}

{% endblock %}

{% block resume %}
<div class="resume_wrapper">
  <header>
    <div class="profile-and-contact">
      <div class="profile-pic-and-infos">
        {% if settings.display_photo %}
        <img class="profile_pic" src="../resumes/{{ person.photo }}" alt="photo" />
        {% endif %}
        <div class="profile_infos" id="profile_infos">
          <h1 class="name">{{ person.name.first }}
            {{ person.name.last }}</h1>
          <p class="occupation birth">
            {{ person.occupation }}
            {% if person.birthdate != '' %}
            ・ {{ person.age }}
            {% endif %}
            {% if person.nationality != '' %}
            ・ {{ person.nationality }}
            {% endif %}
            {% if person.transportation != '' %}
            ・ {{ person.transportation }}
            {% endif %}
          </p>
        </div>
      </div>

      <div class="contact-info">
        <ul>
          <li>
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M18,15H16V17H18M18,11H16V13H18M20,19H12V17H14V15H12V13H14V11H12V9H20M10,7H8V5H10M10,11H8V9H10M10,15H8V13H10M10,19H8V17H10M6,7H4V5H6M6,11H4V9H6M6,15H4V13H6M6,19H4V17H6M12,7V3H2V21H22V7H12Z" />
            </svg>
            <span class="contact_text">{{ person.address }}</span>
          </li>
          {% for email in person.email %}
          <li>
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
            </svg>
            <a target="blank" href="mailto:{{ email }}" class="contact_text">{{ email }}</a>
          </li>
          {% endfor %}

          {% for phone in person.phone %}
          <li>
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
            </svg>
            <span class="contact_text">{{ phone }}</span>
          </li>
          {% endfor %}

          {% for account in person.usernames %}
          <li>
            {% if account.service == 'linkedin' %}
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" />
            </svg>
            {% elif account.service == 'github' %}
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path
                d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
            </svg>
            {% endif %}
            <a class="contact_text" target="blank" href="{{ account.link }}">{{ account.username }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>

    </div>

    <div class="about-me">
      <p>{{ about_me }}</p>
    </div>

  </header>

  <div class="resume_body">
    <section class="curriculum">
      <div class="education">
        <h3>Education</h3>
        {% for edexp in education %}
        <div class="exp education_exp">
          <p>
            <span class="exp_label">
              {{ edexp.label }}
              {% if edexp.refine %}
              <span class="exp_refine">({{ edexp.refine }})</span>
              {% endif %}
            </span>
            <br />
            <span class="exp_dates_and_place">
              <span class="exp_place">
                {% if edexp.graduated %}
                Graduated from
                {% endif %}
                <span class="company">
                  {% if edexp.link %}
                  <a target="blank" href="{{ edexp.link }}">{{ edexp.school }}</a>
                  {% else %}
                  {{ edexp.school }}
                  {% endif %}
                </span>
                <br />
              </span>

              <span class="exp_dates">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path class="svg_icon"
                    d="M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z" />
                </svg>
                {{ edexp.timeperiod }}
              </span>

              <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
                <path class="svg_icon"
                  d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
              </svg>
              {{ edexp.place.town }}, {{ edexp.place.country }}
              <br />

            </span>
            <span class="exp_description">
              {{ edexp.description }}
            </span>
          </p>
        </div>
        {% endfor %}
      </div>

      <div class="experience">
        <h3>Experience</h3>
        {% for exp in experience %}
        <div class="exp education_exp">
          <p>
            <span class="exp_label">
              {{ exp.position }}
              {% if exp.refine %}
              <span class="exp_refine">({{ exp.refine }})</span>
              {% endif %}
            </span>
            <br />
            <span class="exp_dates_and_place">
              {% if exp.company %}
              <span class="company">{{ exp.company }}</span><br />
              {% endif %}
              <span class="exp_dates">
                <svg width="24" height="24" viewBox="0 0 24 24">
                  <path class="svg_icon"
                    d="M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z" />
                </svg>
                {{ exp.timeperiod }}</span>
              <span class="exp_place">
                <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
                  <path class="svg_icon"
                    d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
                </svg>
                {{ exp.place.town }}, {{ exp.place.country }}
              </span>
            </span>
            <br />
            <span class="exp_description">
              {{ exp.description }}
            </span>
          </p>
        </div>
        {% endfor %}
      </div>

      <div class="accomplishements">
        <h3>Projects</h3>
        {% for acc in accomplishements %}
        <div class="exp accomplishement">
          <p>
            <span class="acc_name">{{ acc.name }}</span>
            <br />
            <span class="exp_dates_and_place exp_dates">
              {% if acc.timeperiod %}
              <svg width="24" height="24" viewBox="0 0 24 24">
                <path class="svg_icon"
                  d="M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z" />
              </svg>
              {{ acc.timeperiod }}
              {% endif %}
              {% for link in acc.links %}
              <span class="acc_link">
                {% if link.service == "github" %}
                <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
                </svg>
                {% elif link.service == "direct" %}
                <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
                  <path
                    d="M3.9,12C3.9,10.29 5.29,8.9 7,8.9H11V7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H11V15.1H7C5.29,15.1 3.9,13.71 3.9,12M8,13H16V11H8V13M17,7H13V8.9H17C18.71,8.9 20.1,10.29 20.1,12C20.1,13.71 18.71,15.1 17,15.1H13V17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7Z" />
                </svg>
                {% endif %}
                <a target="blank" href="{{ link.url }}">{{ link.name }}</a>
              </span>
              {% endfor %}
            </span>
            <span class="exp_description">
              {{ acc.description }}
            </span>
          </p>
        </div>
        {% endfor %}
      </div>

      <div class="references">
        <h3>References</h3>
        {% for ref in references %}
        <div class="exp reference">
          <p>
            <span class="ref_name">{{ ref.name }}</span>
            <br />
            <span class="ref_email">
              <a href="mailto:{{ ref.email }}">{{ ref.email }}</a>
            </span>
            <br />
            <span class="exp_description">
              {{ ref.title }}
            </span>
          </p>
        </div>
        {% endfor %}
      </div>


    </section>

    <section class="info">


      {% if skills %}
      <div class="skills">
        <h3>Skills</h3>
        <ul class="skill-list">
          {% for skill in skills %}
          <li {% if skill.proficient %} class="proficient" {% endif %}>
            <span class="skill-name">{{ skill.name }}</span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if traits %}
      <div class="traits">
        <h3>Qualities</h3>
        <ul class="trait-list">
          {% for trait in traits %}
          <li>
            <span class="trait-name">
              {{ trait }}
            </span>
          </li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if hobbies %}
      <div class="hobbies">
        <h3>Hobbies</h3>
        <ul class="hobbies-list">
          {% for hobby in hobbies %}
          <li>
            <span class="hobby_name">{{ hobby.name }}</span>
            <p class="hobby_refine">{{ hobby.refine }}</p>
            <p class="hobby_dates">
              {{ hobby.timeperiod }}
            </p>
          </li>

          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <div class="languages">
        <h3>Languages</h3>
        {% for language in languages %}
        <div class="exp lang">
          <p>
            <span class="lang_name">{{ language.code }}</span>
            <br />
            <span class="lang_info">
              <span class="lang_level">
                {{ language.level }}
                {% if language.mother_tongue %}
                Mother tongue
                {% endif %}
                {% if language.level_refine %}
              </span>
              <span class="lang_level_refine">
                - {{ language.level_refine }}
              </span>
              {% endif %}
              <br />
              {% for cert in language.certifications %}
              <span class="language_certification">
                <span class="certification_label">{{ cert.label }}</span>
                {% if cert.level %}
                level {{ cert.level }}
                {% elif cert.score %}
                {{ cert.score }}{% if cert.max_score %}{% endif %}
                {% endif %}
                ({{ cert.date }})
                {% endfor %}
              </span>
            </span>
          </p>
        </div>
        {% endfor %}
      </div>

    </section>
  </div>
</div>
{% endblock %}