{% extends "./base_resume.html" %}

{% block css %}
<link rel="stylesheet" href="../static/zeng.css" />
{% endblock %}

{% block title %}

{% endblock %}

{% macro link(link_) -%}
<span class="acc_link" title="{{ link_.name}}">
  {% if link_.identifier == "github" %}
  <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
  </svg>
  {% elif link_.identifier == "web" %}
  <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
    <path
      d="M3.9,12C3.9,10.29 5.29,8.9 7,8.9H11V7H7A5,5 0 0,0 2,12A5,5 0 0,0 7,17H11V15.1H7C5.29,15.1 3.9,13.71 3.9,12M8,13H16V11H8V13M17,7H13V8.9H17C18.71,8.9 20.1,10.29 20.1,12C20.1,13.71 18.71,15.1 17,15.1H13V17H17A5,5 0 0,0 22,12A5,5 0 0,0 17,7Z" />
  </svg>
  {% elif link_.identifier == "email" %}
  <svg version="1.1" width="20" height="20" viewBox="0 0 24 24">
    <path
      d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
  </svg>
  {% endif %}
  <a href="{{ link_.url }}" target="blank">{{ link_.short_url }}</a>
</span>
{%- endmacro %}

{% macro element(elt, loop, tags) -%}
<div class="elt education_elt elt_{{ tags }} {% if loop.last %}last{% endif %}">
  <div>
    <p class="elt_label">
      {% if elt.label %}
        {{ elt.label }}
      {% elif elt.link %}
        {{ link(elt.link) }}
      {% endif %}
    </p>
    <p class="elt_dates_and_place">
      {% if elt.organization %}
      <span class="elt_place">
        <span class="company">{{ elt.organization }}</span>
      </span>
      {% endif %}
      <span class="elt_info">
        <span class="elt_dates_and_location">
          {% if elt.startDate %}
          <span class="elt_dates nowrap">
            <svg width="24" height="24" viewBox="0 0 24 24">
              <path class="svg_icon"
                d="M9,10V12H7V10H9M13,10V12H11V10H13M17,10V12H15V10H17M19,3A2,2 0 0,1 21,5V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5A2,2 0 0,1 5,3H6V1H8V3H16V1H18V3H19M19,19V8H5V19H19M9,14V16H7V14H9M13,14V16H11V14H13M17,14V16H15V14H17Z" />
            </svg>
            {{ elt.startDate.strftime(resume.meta.date_format).capitalize() }}
            {% if elt.endDate %} - {{ elt.endDate.strftime(resume.meta.date_format).capitalize() }}{% endif %}</span>
          {% endif %}
          {% if elt.location %}
          <span class="elt_place nowrap">
            <svg version="1.1" width="24" height="24" viewBox="0 0 24 24">
              <path class="svg_icon"
                d="M12,11.5A2.5,2.5 0 0,1 9.5,9A2.5,2.5 0 0,1 12,6.5A2.5,2.5 0 0,1 14.5,9A2.5,2.5 0 0,1 12,11.5M12,2A7,7 0 0,0 5,9C5,14.25 12,22 12,22C12,22 19,14.25 19,9A7,7 0 0,0 12,2Z" />
            </svg>
            {{ elt.location }}
          </span>
          {% endif %}
        </span>
        {% if elt.link %}
        <span class="links">
          {{ link(elt.link) }}
        </span>
        {% endif %}
        {% if elt.keywords %}
        <span class="elt_keywords nowrap">
          {% for keyword in elt.keywords %}
          <span class="keyword">
            {{ keyword }}
          </span>
          {% endfor %}
        </span>
        {% endif %}
      </span>
    </p>
    
    <div class="elt_description">
      {{ elt.full_summary }}
    </div>
  </div>
</div>
{%- endmacro %}



{% macro sectionmacro(section) -%}
<div class="resumesection">
  <h3>{{ section.name }}</h3>
  {% for elt in section %}
    {{ element(elt, loop, section.tags) }}
  {% endfor %}
</div>
{%- endmacro %}

{% block resume %}
<div class="resume_wrapper">
  <header>
    <div class="profile-and-contact">
      <div class="profile-pic-and-infos">
        {% if resume.basics.image %}
        <img class="profile_pic" src="../resumes/{{ resume.basics.image }}" alt="photo" />
        {% endif %}
        <div class="profile_infos" id="profile_infos">
          <h1 class="name">{{ resume.basics.name }}</h1>
          <p class="occupation birth">{{ resume.basics.label }}</p>
        </div>
      </div>

      <div class="contact-info">
        <ul>
          {% if resume.basics.location %}
          <li>
            <svg version="1.1" width="20" height="20" viewBox="0 0 22 22">
              <path
                d="M18,15H16V17H18M18,11H16V13H18M20,19H12V17H14V15H12V13H14V11H12V9H20M10,7H8V5H10M10,11H8V9H10M10,15H8V13H10M10,19H8V17H10M6,7H4V5H6M6,11H4V9H6M6,15H4V13H6M6,19H4V17H6M12,7V3H2V21H22V7H12Z" />
            </svg>
            <span class="contact_text">{{ resume.basics.location.address }}</span>
          </li>
          {% endif %}
          {% if resume.basics.email %}
          <li>
            <svg version="1.1" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M20,8L12,13L4,8V6L12,11L20,6M20,4H4C2.89,4 2,4.89 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6C22,4.89 21.1,4 20,4Z" />
            </svg>
            <a class="contact_text" href="mailto:{{ resume.basics.email }}">{{ resume.basics.email }}</a>
          </li>
          {% endif %}

          {% if resume.basics.phone %}
          <li>
            <svg version="1.1" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M6.62,10.79C8.06,13.62 10.38,15.94 13.21,17.38L15.41,15.18C15.69,14.9 16.08,14.82 16.43,14.93C17.55,15.3 18.75,15.5 20,15.5A1,1 0 0,1 21,16.5V20A1,1 0 0,1 20,21A17,17 0 0,1 3,4A1,1 0 0,1 4,3H7.5A1,1 0 0,1 8.5,4C8.5,5.25 8.7,6.45 9.07,7.57C9.18,7.92 9.1,8.31 8.82,8.59L6.62,10.79Z" />
            </svg>
            <a href="tel:{{ resume.basics.phone }}" class="contact_text">{{ resume.basics.phone }}</a>
          </li>
          {% endif %}

          {% for profile in resume.basics.profiles %}
          <li>
            {% if profile.network == 'Linkedin' %}
            <svg version="1.1" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M19 3A2 2 0 0 1 21 5V19A2 2 0 0 1 19 21H5A2 2 0 0 1 3 19V5A2 2 0 0 1 5 3H19M18.5 18.5V13.2A3.26 3.26 0 0 0 15.24 9.94C14.39 9.94 13.4 10.46 12.92 11.24V10.13H10.13V18.5H12.92V13.57C12.92 12.8 13.54 12.17 14.31 12.17A1.4 1.4 0 0 1 15.71 13.57V18.5H18.5M6.88 8.56A1.68 1.68 0 0 0 8.56 6.88C8.56 5.95 7.81 5.19 6.88 5.19A1.69 1.69 0 0 0 5.19 6.88C5.19 7.81 5.95 8.56 6.88 8.56M8.27 18.5V10.13H5.5V18.5H8.27Z" />
            </svg>
            {% elif profile.network == 'Github' %}
            <svg version="1.1" width="20" height="20" viewBox="0 0 24 24">
              <path
                d="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z" />
            </svg>
            {% endif %}
            <a class="contact_text" href="{{ profile.url }}">{{ profile.username }}</a>
          </li>
          {% endfor %}

          {% if resume.basics.transportation %}
          <li>
            <span class="material-icons">directions_car</span>
            <span class="contact_text">{{ resume.basics.transportation }}</span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <div class="about-me">
      <p>{{ resume.basics.summary }}</p>
    </div>

  </header>

  <div class="resume_body">
    <section class="curriculum">
      {% for section in resume %}
        {{ sectionmacro(section) }}
      {% endfor %}
    </section>
  </div>
</div>
{% endblock %}
